.container {
    width: 33rem;
    height: 54rem;

    padding: 0.9rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    row-gap: 0.9rem;

    background: #abefef;
    color: #ffffff;

    font-family: "Candara Light", sans-serif;
    font-size: 1.8rem;

    text-align: center;
}
.top:after, .widget:after, .bottom:after {
    height: 100%;
    display: inline-block;

    vertical-align: middle;
    content: "";
}
.top {
    flex-grow: 1;
    background: #246abc;
}
.middle {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    column-gap: 0.9rem;

    font-size: 0.6em;
}
.widget {
    flex-grow: 1;
    background: #18467b;
}
.bottom {
    flex-grow: 2.2;
    background: #246abc;
}