.container {
    min-height: 25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: end;
    background: #fdfdfe;
}
.widget {
    width: 17.5rem;
    height: 20.63rem;
    margin: 0.94rem;
    padding: 2.2rem;
    box-sizing: border-box;
    border: 1px #f0ba80 solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: sans-serif;

    background: #efe7df;
    color: #989898;
}
.widget-caption {
    font-size: 1.3em;
}
.widget-text {
    font-size: 1em;
    line-height: 1.8em;
    overflow: hidden;

    color: #625f5f;
}
.widget-button {
    width: 9.38rem;
    height: 3.13rem;
    display: block;
    line-height: 3.13rem;
    vertical-align: center;
    text-align: center;
    text-decoration: none;

    color: white;
    background: green;
}