body {
    background: #06bbd3;
}
.container {
    max-width: 40.75rem;
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
    align-items: start;
}
.widget {
    width: 19.4rem;
    height: 5.75rem;
    padding: 0.75rem 1rem 0.75rem 0;
    box-sizing: border-box;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    text-align: left;
    font-family: Tahoma, sans-serif;
    background: #fcfdfd;
}
.widget-icon {
    width: 2rem;
    height: 2rem;
    margin: auto 1.56rem auto 1.56rem;
    color: #969696;
}
.widget-caption {
    color: #fda534;
    font-size: 0.84em;
    font-weight: bold;
}
.widget-text {
    margin-right: 0.3rem;
    margin-top: 0.3rem;
    overflow: hidden;
    font-size: 0.59em;
    line-height: 1.5em;
    color: #8c8c8c;
}
